@media (max-width:600px) {
    body{
        max-width: 375p
    }
    .header-main {
        flex-direction: column;
    }
    .nav-title{
        flex-direction: column;
    }
    .banner-selection{
        flex-direction: column;
        padding-right: 40px;
        margin-left:24px ;
        gap: 16px;
    }
    .banner-text h2{
        height: 28px;
        font-size: 22px;
        display: flex;
        justify-content: center;
        padding-top: 32px;
        padding-bottom: 8px;
    }
    .banner-text p{
        margin-bottom: 2px;
        height: 63px;
        font-size: 14px;
        margin-bottom: 32px;
    }
    .main-container{
       max-width: 335px;
        height: 483px;
        background-position: center;
    }
    button{
        width: 255px;
        height: 52px;
    }
    input[type=text]{
        width: 255px;
        height: 52px;
    }
    .select{
        width: 255px;
        height: 52px;
    }
    .popular-section{
        grid-template-columns:1fr;
    }
    .popular-tour{
        max-width: 335px;
    }
    .popurar-sec-img img{
        width: 335px;
    }
    .destination h3{
        width: 240px;
    }
    .destination p{
        width: 309px;
    }
    .Item-1{
        flex-direction: column;
    }
    .Item-2{
        flex-direction: column;
    }
    .Item-3{
        flex-direction: column;
    }
    .BD img{
        width: 335px;
        height: 289px;
        object-fit: cover;
    }
    .BU img{
       width: 335px;
        height: 289px;
        object-fit: cover;
    }
    .kashmir img{
       width: 335px;
        height: 289px;
        object-fit: cover;
    }
    .North-america img{
       width: 335px;
        height: 289px;
        object-fit: cover;
    }
    .srilanka img{
        width: 335px;
        height: 289px;
        object-fit: cover;
    }
    .maldivs img{
         width: 335px;
        height: 289px;
        object-fit: cover;
    }
    .indonesia img{
       width: 335px;
        height: 289px;
        object-fit: cover;
    }
    .chose-container{
        
    }  
    .Hotels{
        grid-column: 1 / 9;
    }
    .service{
        grid-row: 2/3;
        grid-column: 1 / 9;
    }
    .Price{
        grid-row: 3 / 4;
        grid-column: 1 / 9;
    }
    .tour img{
        max-width: 335px;
        height:500px;
        object-fit: cover;
    }
    .tour-plan{
        width:80%;
        left: 5%;
    }
    .common{
        max-width: 335px;
        
    }
    .photos img{
        grid-template-columns: 1fr;
    }
    .simple-container{
        flex-direction: column;
    }
    .simple-img{
        margin-top: 24px;
    }
    .newslatter{
        flex-direction: column;
    }
    .image img{
        margin-top: 16px;
    }
    .footer {
        max-width: 375px;
    }
    .footer hr{
        max-width: 335px;
    }
    .footer-title{
        margin-left: 0;
        gap: 20px;
    }
    .bottom{
     margin-left: 12%;
     width:100px;
    }
}